# pgxn
_pgxn
# unit tests
results/*
tests/results/*
tests/tmp/*
# vim
*.swp
*.swo
# tests
*.out
*.diffs
_dump1.sql
_dump2.sql
_blackbox_*
contrib_regression_test_restore.pgsql
# C objects
*.bc
*.o
*.so
# artefacts
_pgddl/
anon/*
anon_*/
anon*.zip
anon_standalone.sql
anon_standalone_PG*
# jupyter
*/.ipynb_checkpoints/
