# pgxn
_pgxn
# unit tests
results/*
tests/results/*
# vim
*.swp
*.swo
# tests
*.out
*.diffs
_dump1.sql
_dump2.sql
# C objects
*.bc
*.o
*.so
# artefacts
_pgddl/
anon/*
anon_*/
anon*.zip
anon_standalone_PG*
